<ng-container *ngIf="products.length !=0">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Category</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cartData of products; let i = index">
                        <td>{{cartData.id}}</td>
                        <td>{{cartData.name}}</td>
                        <td>{{cartData.price}}</td>
                        <td>{{cartData.quantity}}</td>
                        <td>{{cartData.category}}</td>
                        <img src = "{{cartData.image}}" alt="" class="images" >
                        <td>
                            <button mat-raised-button class="button" (click)="removeItem(cartData)">
                                <i class="fa fa-trash-alt" (click)="removeItem(cartData)"> </i>
                            </button>
                            </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                          <td>  <button mat-raised-button class="button" (click)="emptyCart()"> Empty Cart</button></td>
                          <td>  <button mat-raised-button class="button" routerLink="/admin/dashboard"> Shop More</button></td>
                          <td>  <button mat-raised-button style="background-color: rgb(57, 253, 57);"> Checkout</button></td>
                        
                        </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</ng-container>



<ng-container *ngIf="products.length == 0">
    <div class="container">
        <mat-card class="card">
            <strong class="card-title">MY CART</strong>
        </mat-card>
    </div>
    <div class="center">
        <img class="shopping-cart" src="assets/shoping-cart.jpg" alt="">
        <h4>Your Cart Is Empty!!</h4>
        <h5>Add Item To It Now</h5>
        <button mat-raised-button color="primary" routerLink="/admin/dashboard">Shop Now</button>
    </div>
</ng-container>